<div class="cover" >
  <h2><%= @cocktails.length%> cocktails recipies for cocktails addicts</h2>
  <%= link_to "Create new cocktail", new_cocktail_path, class: "btn btn-danger"%>

</div>
<div class="wrapper cocktails-band">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= link_to cocktail_path(cocktail) do %>
          <div class="card" style="background-image:linear-gradient(-225deg, rgba(255, 0, 0, 0.73) 0%, rgba(251, 0, 81, 0.68) 50%), url(<%=cocktail.photo%>)">
              <h4><%= cocktail.name.upcase %></h4>
              <% cocktail.doses.each do |dose| %>
                <%= dose.ingredient.name %>
              <% end %>
            </div>
          <%end%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3>Available ingredients:</h3>
    <% Ingredient.all.each do |ingredient| %>
    <%= ingredient.name %>
    <% end %>
  </div>
</div>



