<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% counter = 1 %>
<% @cocktail.doses.each do |dose| %>

  <p><%= "Ingrédient: " + dose.ingredient.name %></p>
  <p>
    <%= counter %>
    <%= "-" %>
    <%= dose.description %>
    <%= link_to "Delete dose", cocktail_dose_path(@cocktail, dose), method: :delete%>
  </p>


  <% counter += 1 %>
<% end %>
<hr>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-info"%>
